<div data-role="header">
  <h1>My Account</h1>
  <a href="#" data-icon="gear" class="ui-btn-right">Settings</a>
</div>

<div data-role="footer" class="ui-bar">
      <%= link_to "Find", {:controller => "lots", :action => "map"}, "data-role" => "button", "data-icon" => "search" %>
          <%= link_to "Pay", {:controller => "users", :action => "pay"}, "data-role" => "button", "data-icon" => "home" %>
              <%= link_to "Account", {:controller => "users", :action => "account"}, "data-role" => "button", "data-icon" => "gear" %>
            </div>
