<div data-role="header" data-theme="a">
	<h1>AutoValetPark</h1>
	<%= link_to 'Manual', {:controller => "lots", :action => "manual"}, "class" => "ui-btn-right", "data-icon" => "gear" %>
</div>

<div data-role="fieldcontain" id="avp_logo">
	<%= image_tag('logo-twitter-500.png') %>
</div>

<div class="control_buttons">
	<%= link_to "Park", {:controller => "lots", :action => "park"}, "data-role"=> "button", 'data-theme' => 'e' %>
	<%= link_to "Retrieve",{:controller => "lots", :action => "retrieve"}, "data-role" => "button", "data-theme" => 'b' %>
</div>