<div data-role="header">
	<a href="#" data-icon="back" data-rel="back" class="ui-btn-left">Back</a>
    <h1>Manual Mode GUI</h1>
</div>

<p>THIS IS THE MANUAL MODE... USE WITH CAUTION</p>
<p>ADMIN ONLY!<p>