<div data-role="header">
	<a href="#" data-icon="back" data-rel="back" class="ui-btn-left">Back</a>
    <h1>Park Vehicle</h1>
	<%= link_to 'Manual', {:controller => "lots", :action => "manual"}, "class" => "ui-btn-right", "data-icon" => "gear" %>
</div>

	<%= text_field_tag 'ticket_number', nil, :placeholder => "Enter Ticket Number ..." %>
    <%= link_to 'Fetch My Ride', '#', 'data-theme' => 'e', 'data-role' => 'button', :id => 'retrieve_button' %>
<div data-role="fieldset" id="retrieve_result">
</div>
<!--% end %-->
